// Global font vars
$font-primary: 'Nexa', sans-serif;
$font-secondary: 'AvantGardeMdITC', helvetica;
$font-tertiary: 'Playfair Display', serif;
$icons-primary: 'SS Gizmo';
$icons-secondary: 'SS Social';
$icons-tertiary: 'SS Standard';

// Colors
$brand-white: #ffffff;
$brand-grey-light: #f8f8f8;
$brand-grey: #828282;

$brand-primary: #492649;
$brand-secondary: #5ca697;
$brand-tertiary: #fda359;
$brand-quaternary: #eb6559;
$brand-quinary: #eec02c;
